# URL On which this app is deployed
APP_URL=
NODE_ENV="production"

# MongoDB Configuration: used by the backend to connect to the database
MONGO_DB_USERNAME="cubezy_db"
MONGO_DB_PASSWORD="cubezy_password"
MONGO_URI="mongodb://cubezy_db:cubezy_password@cubezy-db:27017/?authSource=admin"
MONGO_DB_NAME="cubezy_db"

# Mongo Express Configuration
ME_CONFIG_MONGODB_SERVER="cubezy-db"
ME_CONFIG_MONGODB_PORT="27017"
ME_CONFIG_BASICAUTH_USERNAME="admin"
ME_CONFIG_BASICAUTH_PASSWORD="password@123"

# Secret key for JWT authentication (generate with `openssl rand -hex 32`)
JWT_SECRET=

# SMTP Configuration (for sending OTPs and other emails)
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=

# EXTRA HOST MAIL Configuration (Comment this if mailserver on different host)
EXTRA_HOST_MAIL_DOMAIN=
EXTRA_HOST_MAIL_IP=

# MinIO Configuration (for file storage)
MINIO_ROOT_USER="admin"
MINIO_ROOT_PASSWORD="password"
MINIO_ENDPOINT=
MINIO_URL=
MINIO_BUCKET="cubezy"
MINIO_REGION="us-east-1"

# Captcha Configuration (for security)
NEXT_PUBLIC_CAPTCHA_SITE_KEY=
CAPTCHA_SECRET_KEY=